<%-include('_header')%>
<%-include('_navbar')%>

<section class="my-5 py-5">
    <div class="container">
        <div class="back">
            <div class="container">
                <a class="btn " href="/fundraiser/page?id=<%=goods.Fundraiser_ID%>">
                    &laquo; Back
                </a>
            </div>
        </div>
        <div class="card mx-auto w-50 my-5">
            <div class="card-body">
                <div class="card border-light shadow-sm p-3">
                    Click provided courier services image and use information below for donation
                </div>
                <div class="d-flex flex-row justify-content-center" >
                    <div class="lalamove border-secondary">
                        <a target="_blank" rel="noopener noreferrer" href="https://web.lalamove.com/">
                            <img src="/lalamove.png" height='100' alt="" class="">
                        </a>
                    </div>
                </div>
                <div class="form-group my-4">
                    <label for="">Receiver Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="<%=user.User_First + ` ` + user.User_Last%>" id="goods-user" disabled>
                        <button class="btn bg-blue text-light" onclick="copy();">
                            <span class="material-icons">
                                content_paste
                            </span>
                        </button>
                    </div>
                </div>
                <div class="form-group my-4">
                    <label for="">Drop off Address</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="<%=goods.Goods_Address%>" id="goods-address" disabled>
                        <button class="btn bg-blue text-light" onclick="copy();">
                            <span class="material-icons">
                                content_paste
                            </span>
                        </button>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</section>

<%-include('_footer')%>